
.login-card {
    background-color: var(--grey);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: var(--green);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--white);
}

.input-group .icon {
    margin-right: 10px;
}

.input-group input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 1rem;
    color: var(--white);
}

.input-group input::placeholder{
    color: var(--white);
}

.login-btn {
    background-color: var(--white);
    color: var(--blue);
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.register-link {
    font-size: 1.4rem;
    display: block;
    text-align: right;
    color: white;
    font-weight: bold;
    margin-top:  var(--white);
    text-decoration: none;
}
  